<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{meta_title}}{{#is 'post, page'}} - {{@blog.title}}{{/is}}</title>
    <meta name="description" content="{{meta_description}}" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{{asset "/favicon.ico"}}">
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.min.css"}}" />
    {{ghost_head}}
</head>
<body class="{{body_class}}">
    {{{body}}}
    {{ghost_foot}}

	{{#is 'post'}}
		<script type="text/javascript" src="{{asset "js/prism.min.js"}}"></script>
	{{/is}}
	
	<script type="text/javascript" src="{{asset "js/jquery.swiftype.min.js"}}"></script>
	<script type="text/javascript">
		$('<li class="nav-search-form"><form action="#" onsubmit="stSearch();return false;" autocomplete="on"><label id="nav-search-label" for="st-search-input">Search:</label><input id="search_submit" value="Search" type="submit"><input id="st-search-input" name="search" type="text" placeholder="search https://iyware.com"></form></li>').insertAfter(".nav-search");

		var stSearch = function(){
			var query = document.getElementById("st-search-input").value;
			window.location.href = "/search/#stq=" + query + "&stp=1";
		};

		var stAutoRenderFunction = function(document_type, item) {
			var titleEnd = item['title'].length - 9;
			var title = item['title'].substring(0,titleEnd);
			return '<p class="title">' + title + '</p>';
		};

		var stRenderFunction = function(documentType, item) {
			var titleEnd = item['title'].length - 9;
			var title = item['title'].substring(0,titleEnd);
			var header = '<header><h2><a class="st-search-result-link" href="' + item['url'] + '">' + title + '</a></h2></header>'
			var text = '<div class="text"><p>' + item['body'].substring(20,250) + '</p></div>';
			var continueReading = '<small class="continue"><a href="' +  item['url'] + '">Continue Reading</a></small>';
			return '<div class="loop"><article>' + header + text + continueReading + '</article></div>';
		};

		$("#st-search-input").swiftype({
			renderFunction: stAutoRenderFunction,
			resultLimit: 5,
			engineKey:"sg3kn6rAnozjxvM4k8nk"
		});
		$("#st-search-input").swiftypeSearch({
			renderFunction:stRenderFunction,
			perPage:4,
			engineKey:"sg3kn6rAnozjxvM4k8nk",
			resultContainingElement:"#st-results-container"
		});
		$("#st-search-input2").swiftype({
			renderFunction: stAutoRenderFunction,
			resultLimit: 5,
			engineKey: "sg3kn6rAnozjxvM4k8nk"
		});
		$("#st-search-input2").swiftypeSearch({
			renderFunction:stRenderFunction,
			perPage:4,
			engineKey:"sg3kn6rAnozjxvM4k8nk",
			resultContainingElement:"#st-results-container"
		});
	</script>
	<aside style="display:none;">
		<a href="/search/">search</a>
		<a href="/clients/">clients</a>
	</aside>
</body>
</html>