{{!< default}}

{{#post}}

	<header role="banner" class="header-main {{#if feature_image}}" style="background-image: url({{img_url feature_image}}){{else}}no-image{{/if}}">
		{{#if @blog.navigation}}
    		{{navigation}}
		{{/if}}
		<h1>
    		<a href="{{@blog.url}}">
        		{{#if @blog.logo}}
            		<img src="{{@blog.logo}}" alt="{{@blog.title}}">
				{{else}}
            		{{@blog.title}}
				{{/if}}
			</a>
		</h1>
	</header>

    <article role="main" class="{{post_class}}">

        <header>
            <h1>{{title}}</h1>

			<small class="meta">
				{{#author}}
					{{#if profile_image}}
						<a href="{{url}}" class="author" style="background-image:url('{{img_url profile_image}}');"><img src="{{img_url profile_image}}" alt="{{name}}'s picture"></a>
					{{/if}}
					<a href="{{url}}">{{name}}</a>
				{{/author}}
				&nbsp;&bull;&nbsp;
				<time datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM DD, YYYY"}}</time>
				{{#if tags}}
					&nbsp;&bull;&nbsp;
					<span class="tags">{{tags}}</span>
				{{/if}}
			</small>
        </header>

        <div class="text">
            {{content}}
        </div>

        <section class="share">
        	<ul>
				<li>
					<a href="mailto:?&subject={{encode @blog.title}}%3A%20{{encode title}}&body={{encode title}}%0D%0A{{url absolute="true"}}%0D%0A%0D%0A{{excerpt words="45"}}%2E%2E%2E">Email</a>
				</li>
				<li>
					<a href="https://twitter.com/home?status={{url absolute="true"}}%20{{tags prefix="%23" separator="%20%23" autolink="false"}}">Twitter</a>
				</li>
				<li>
					<a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}">Facebook</a>
				</li>
				<li>
					<a href="https://plus.google.com/share?url={{url absolute="true"}}">Google+</a>
				</li>
				<li>
					<a href="https://www.linkedin.com/shareArticle?mini=true&url={{url absolute="true"}}&title={{encode title}}&summary={{excerpt words="45"}}&source={{@blog.title}}">LinkedIn</a>
				</li>

{{!------------ SOCIAL LINKS: MOVE THE LIST ITEM OUT OF THIS COMMENT BLOCK TO ENABLE ------------}}

{{!--PINTEREST
				<li>
					<a href="https://pinterest.com/pin/create/button/?{{url absolute="true"}}{{#if feature_image}}&media={{img_url feature_image absolute="true"}}{{/if}}&description={{excerpt words="20"}}">Pinterest</a>
				</li>
--}}

{{!--TUMBLR
				<li>
					<a href="http://www.tumblr.com/share/link?url={{url absolute="true"}}&name={{encode title}}&description={{excerpt words="45"}}">Tumblr</a>
				</li>
--}}

{{!--REDDIT
				<li>
					<a href="http://www.reddit.com/submit/?url={{url absolute="true"}}&title={{encode title}}">reddit</a>
				</li>
--}}

{{!--XING
				<li>
					<a href="https://www.xing-share.com/app/user?op=share;sc_p=xing-share;url={{url absolute="true"}}">Xing</a>
				</li>
--}}

{{!--VK
				<li>
					<a href="https://vk.com/share.php?url={{url absolute="true"}}&title={{encode title}}&description={{excerpt words="45"}}{{#if feature_image}}&image={{img_url feature_image absolute="true"}}{{/if}}&noparse=true">VK</a>
				</li>
--}}

{{!--BUFFER
				<li>
					<a href="https://bufferapp.com/add/?url={{url absolute="true"}}&text={{excerpt words="20"}}">Buffer</a>
				</li>
--}}

{{!--STUMBLEUPON
				<li>
					<a href="https://www.stumbleupon.com/submit?url={{url absolute="true"}}%2F&title={{encode title}}">StumbleUpon</a>
				</li>
--}}

{{!--SINA-WEIBO
				<li>
					<a href="http://service.weibo.com/share/share.php?url={{url absolute="true"}}&title={{encode title}}%0D%0A{{excerpt words="20"}}%20{{tags prefix="%23" separator="%23 %23" suffix="%23" autolink="false"}}{{#if feature_image}}&pic={{img_url feature_image absolute="true"}}{{/if}}">新浪微博</a>
				</li>
--}}

{{!--BAIDU
				<li>
					<a href="http://hi.baidu.com/pub/show/share?url={{url absolute="true"}}&title={{encode title}}">Baidu空间</a>
				</li>
--}}

{{!--RENREN
				<li>
					<a href="http://share.renren.com/share/buttonshare?link={{url absolute="true"}}&title={{encode title}}">人人网</a>
				</li>
--}}

{{!--TENCENT-WEIBO
				<li>
					<a href="http://v.t.qq.com/share/share.php?title={{encode title}}%3A%20{{excerpt words="20"}}%20{{tags prefix="%23" separator="%23 %23" suffix="%23" autolink="false"}}&url={{url absolute="true"}}">腾讯微博</a>
				</li>
--}}

{{!--QQZONE
				<li>
					<a href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?title={{encode title}}&url={{url absolute="true"}}&summary={{excerpt words="20"}}">QQ空间</a>
				</li>
--}}

{{!--PENGYOU
				<li>
					<a href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?to=pengyou&title={{encode title}}&url={{url absolute="true"}}&summary={{excerpt words="20"}}">腾讯朋友网</a>
				</li>
--}}

{{!--------------- END SOCIAL LINKS --------------------------------------------------------------}}

			</ul>
        </section>

    {{#author}}
        <footer class="post-footer vcard cf" role="contentinfo">
                {{#if profile_image}}
                	<div class="wrapper">
                	<a href="{{url}}" class="author" style="background-image: url('{{img_url profile_image}}');">
                    	<img src="{{img_url profile_image}}" alt="{{name}}">
					</a>
					</div>
                {{/if}}
                <div class="author-info meta">
					<a href="{{url}}" class="fn">{{name}}</a>
                    {{#if location}}&nbsp;&bull;&nbsp;<span class="adr">{{location}}</span>{{/if}}
                    {{#if website}}&nbsp;&bull;&nbsp;<a class="site" href="{{website}}">{{website}}</a>{{/if}}
                    {{#if bio}}<p class="bio">{{bio}}</p>{{/if}}
                </div>
        </footer>
    {{/author}}

    </article>
{{/post}}

{{> "footer"}}
